<% if current_user.admin %>
  <h2>Quiz</h2>
  <div>Title: <%= @quiz.title %></div>
  <div>Points: <%= @quiz.points %></div>
  <div>Pass Mark: <%= @quiz.passmark %></div>
  <div>Level: <%= @quiz.level %></div>

<div>
    <%= link_to "Edit", edit_quiz_path(@quiz) %></small>

    <%= link_to(
        "Delete",
        quiz_path(@quiz),
        method: :delete,
        data: {
          confirm: "Do you want to delete quiz?"
        }
    ) %>
<%end%>
   <% if @res %>
      <h2> Your previous result was: <%=@res.score.to_i%>%</h2>
    <% else %>
      <h2>It first try</h2>      
    <% end %>
    <div class="questions-list">

    <% if @res %>
      <%= form_for :result, url: user_result_path(current_user.id), method: :patch do |f| %>
            <%= f.hidden_field  :questions_number,  :value =>  @questions.count %> 
            <%= f.hidden_field  :quiz_passmark,  :value =>  @quiz.passmark %>         
            <% @questions.each do |question| %>
              <%= f.hidden_field  :quiz,  :value =>  question.quiz_id %>
              <div>
                <strong>Q:</strong> <%= question.body %>
              </div>
              <% question.answers.shuffle.each do |answer| %>
                <div class="form-check form-check">
                    <%= f.radio_button :"#{question.id}", "#{answer.correct}" %> 
                    <%= label :"#{question.id}", "#{answer.body}" %>
              </div>
              <% end %>
            <% end %>
            <%= f.submit 'Update', class: 'btn btn-primary'%>
      <% end %>

    <% else %>

      <%= form_for :result, url: user_results_path(current_user.id) do |f| %>
            <%= f.hidden_field  :questions_number,  :value =>  @questions.count %> 
            <%= f.hidden_field  :quiz_passmark,  :value =>  @quiz.passmark %>         
            <% @questions.each do |question| %>
              <%= f.hidden_field  :quiz,  :value =>  question.quiz_id %>
              <div>
                <strong>Q:</strong> <%= question.body %>
              </div>
              <% question.answers.shuffle.each do |answer| %>
                <div class="form-check form-check">
                    <%= f.radio_button :"#{question.id}", "#{answer.correct}" %> 
                    <%= label :"#{question.id}", "#{answer.body}" %>
              </div>
              <% end %>
            <% end %>
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>

  <% end %>
    </div>
</div>


