<div><%= @quiz.title %></div>
<div><%= @quiz.points %></div>
<div><%= @quiz.passmark %></div>

<div>
    <%= link_to "Edit", edit_quiz_path(@quiz) %></small>

    <%= link_to(
        "Delete",
        quiz_path(@quiz),
        method: :delete,
        data: {
          confirm: "Do you want to delete quiz?"
        }
    ) %>

    <div class="questions-list">

    <%= form_for :result, url: user_results_path(current_user.id) do |f| %>
          <%= f.hidden_field  :questions_number,  :value =>  @questions.count %> 
          <%= f.hidden_field  :quiz_passmark,  :value =>  @quiz.passmark %>         
          <% @questions.each do |question| %>
            <%= f.hidden_field  :quiz,  :value =>  question.quiz_id %>
            <div>
              <strong>Q:</strong> <%= question.body %>
            </div>
            <% question.answers.shuffle.each do |answer| %>
              <div class="form-check form-check">
                   <%= f.radio_button :"#{question.id}", "#{answer.correct}" %> 
                   <%= label :"#{question.id}", "#{answer.body}" %>
             </div>
            <% end %>
          <% end %>
          <%= f.submit 'Submit' %>
       <% end %>
    </div>
</div>


