<div><%= @quiz.title %></div>
<div><%= @quiz.points %></div>
<div><%= @quiz.passmark %></div>

<div>
    <%= link_to "Edit", edit_quiz_path(@quiz) %></small>

    <%= link_to(
        "Delete",
        quiz_path(@quiz),
        method: :delete,
        data: {
          confirm: "Do you want to delete quiz?"
        }
    ) %>

    <div class="questions-list">
      <% @questions.each do |question| %>
        <div>
          <strong>Q:</strong> <%= question.body %>
        </div>
        <% question.answers.shuffle.each do |answer| %>
          <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions<%= question.id %>" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1"><%= answer.body %></label>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
