
<div class="row">
  <div class="col-6 offset-3 text-center">
    <h1>Sign In</h2>
    <hr>

    <%= simple_form_for :session, url: session_path do |f| %>
    <% if @user.errors.any? %>
      <p>
        <%= @user.errors.full_messages.join(', ') %>
      </p>
    <% end %>

    <%= f.input :email %>

    <%= f.input :password %>

    <%= f.submit "Log In", class: 'btn btn-primary' %>

<% end %>
  </div>
</div>