<h1>Leader Board!</h1>
<div class="row">
<div class="col-6">
  
<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Points</th>
      <th>Badges</th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.full_name %></td>
        <td><%= user.points %></td>
        <td><%= user.badges.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<div class="col-6">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">You</h2>
            <p class="card-text">Points: <%= current_user.points %></p>
            <p class="card-text">Badges: <%= current_user.badges.count %> </p>         
        </div>
    </div>

    
</div>
</div>
