<h1>Results Board for <%= @user.full_name  %></h1>
<div class="row">

    <ul class="list-group">
    <% @results.each do |result| %>
      <% if result.user_id == @user.id %>
        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
              <%= result.quiz.title  %> - <%= result.score.to_i %> %
              </h2>
              <h4>Tries: <%= result.tries %></h4>
              <h3 class="card-text">
              <%= result.quiz.points %>
              points
              <%= result.claimed ?
              "earned!"  : "to earn." %>
              </h3>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>


</div>
