<!DOCTYPE html>
<html>
  <head>
    <title>CaveProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
      <body>
      <nav class="navbar bg-info ">
        <div class="nav_left"><%= link_to (image_tag 'logo', size: "140x100" ), root_path %></div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Quizzes', quizzes_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Quiz', new_quiz_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Leaderboard', leaderboard_index_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_path %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sign In', new_session_path %>
          </li>

          <li class="nav-item">
            <%= link_to(
              "Log Out",
              session_path,
              method: :delete,
              data: {
                confirm: "Do you really want to log out?"
              }
            ) %>
          </li>
        </ul>
        
      </nav> 
      </head>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
